# IntelliJ IDEA
out/
!src/main/**/out/
!src/test/**/out/
*.iml
.idea/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/
bin/
!src/main/**/bin/
!src/test/**/bin/

# NetBeans
nbproject/private/
build/
dist/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
error.log
*.log
